@model IEnumerable<ASP.NET_HW_4_Publishers.Models.Book>

@{
	ViewBag.Title = "Index";
}

<h2>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Publisher)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Authors)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PublishDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PageCount)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.ISBN)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Publisher.Name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Authors)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.PublishDate)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.PageCount)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.ISBN)
		</td>
		<td>
			@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
			@Html.ActionLink("Details", "Details", new { id = item.Id }) |
			@Html.ActionLink("Delete", "Delete", new { id = item.Id })
		</td>
	</tr>
	}

</table>
